---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AuthorProfile from '~/components/widgets/AuthorProfile.astro';
import TemporaryCarInsuranceTable from '~/components/widgets/TemporaryCarInsuranceTable.astro';

const metadata = {
  title: 'Everything you need to know about Temporary Car Insurance',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Buy Temporary insurance',
        href: 'https://www.cuvva.com',
        target: '_blank',
        icon: '',
      },
      { text: 'Learn more', href: 'https://support.cuvva.com/en/' },
    ]}
    image={{ src: '~/assets/images/hero-image-chillwave-kia.png', alt: 'A Kia Sportage at sunset' }}
  >
    <Fragment slot="title">Temporary car insurance</Fragment>

    <Fragment slot="subtitle">
      <span>
        <span class="font-semibold">Temporary, short-term or daily car insurance</span> is a fairly common and reliable way
        for drivers in the UK to get insurance for a small amount of time - generally starting from 1 hour and going to up
        to 30 days. <br />
        <br /> It is fully comprehensive, recognised by UK law, and keeps you safe when you haven't got the time to figure
        out what annual car insurance to get.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <AuthorProfile
    imageUrl="src/assets/images/joey-sb.png"
    factCheckerName="Adam Kent"
    authorName="Joey SB"
    jobTitle="Content Writer"
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="UK Insurers"
    title="The most common temporary car insurers"
    subtitle="Since 2015, there have been quite a few providers - these are the most popular. Most are insure-techs, having built their service from scratch. The big comparison sites (Comparethemarket, GoCompare and MoneySuperMarket) tend to use these companies to actually sell their policies."
    items={[
      {
        title: 'Cuvva',
        description:
          'The first app to sell hourly insurance in the UK. Cuvva is built for fast UX and ease. They advertise their hourly policies from £11.90.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Veygo',
        description:
          'Owned by welsh insurance giant Admiral, they excel at learner driver, young driver and family policies. They advertise their 1 hour policies at £X.XX',
        icon: 'tabler:components',
      },
      {
        title: 'DayInsure',
        description:
          'Enjoy competitive pricing for short-term insurance, making it an economical choice for temporary coverage.',
        icon: 'tabler:list-check',
      },
      {
        title: 'GoShorty',
        description:
          'Receive comprehensive protection that covers you against various risks while driving, ensuring peace of mind.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Tempcover',
        description:
          'Manage your temporary car insurance policy easily online, with straightforward terms and conditions.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'RAC',
        description:
          'Join a community of users who share insights and experiences about temporary car insurance and its benefits.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <TemporaryCarInsuranceTable />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="The cost"
    title="How much is temporary car insurance?"
    items={[
      {
        title: 'Designed for Short-Term Needs',
        description:
          'Temporary car insurance is specifically designed for those who require coverage for short periods, such as 1 Day insurance.',
      },
      {
        title: 'Quick and Simple Process',
        description:
          'The process to obtain drive away insurance is quick and simple, allowing you to get on the road in no time.',
      },
      {
        title: 'Ideal for Test Drivers',
        description:
          'Perfect for test drivers who need insurance for a limited time, ensuring you are covered while trying out a vehicle.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Temporary Car Insurance: Your Flexible Solution
      </h3>
      Gain a competitive advantage by incorporating industry-leading practices in your short-term insurance needs.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Customisable Options',
        description: `Tailor your temporary car insurance policy effortlessly to match your specific requirements, ensuring you have the right coverage for your needs.`,
      },
      {
        title: 'Multiple Coverage Durations',
        description:
          'Explore various coverage options to find the duration that best suits your needs, whether it’s for 1 Day insurance or longer.',
      },
      {
        title: 'Fully Compliant',
        description:
          'Ensure your temporary car insurance meets all legal requirements, providing you with peace of mind while driving.',
      },
      {
        title: 'Seamless Integration',
        description:
          'Easily incorporate your temporary car insurance into your existing plans, making it a hassle-free experience.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your temporary car insurance truly represents your needs.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced User Experience',
        description:
          'Captivate your audience with the ease of obtaining temporary car insurance, encouraging longer visits and engagement.',
      },
      {
        title: 'Continuous Updates',
        description:
          'Stay informed about the latest trends and updates in temporary car insurance to ensure you have the best options available.',
      },
      {
        title: 'Time and Resource Efficiency',
        description:
          'Skip the lengthy process of traditional insurance and launch your coverage sooner with temporary car insurance.',
      },
      {
        title: 'Community Insights',
        description: `Join the growing community of temporary car insurance users for insights, resources, and assistance, ensuring you're well-informed.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success in your temporary car insurance journey.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your temporary car insurance sorted in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add your details</span>',
        description:
          "Provide your information to get your temporary car insurance. Remember, it's the details that ensure you get the right coverage.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Review and Confirm</span>',
        description:
          'Check your policy details and confirm your temporary car insurance. Your unique coverage, tailored for your needs!',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most Used Temporary Car Insurance Features"
    subtitle="Provides frequently used components for obtaining short-term insurance."
    tagline="Components"
    items={[
      {
        title: 'Instant Coverage',
        description: 'Need coverage fast? Temporary car insurance provides instant options for your needs.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Flexible Terms',
        description: "Choose the duration that suits you best, whether it's for 1 Day insurance or longer.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Comprehensive Options',
        description: 'Explore various options that cater to your specific temporary car insurance needs.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'User-Friendly Process',
        description:
          'Experience a seamless process for obtaining your temporary car insurance, making it easy to get started.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Affordable Pricing',
        description: 'Enjoy competitive rates for your temporary car insurance, ensuring you get value for your money.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Community Support',
        description: 'Join a community of users who share insights and experiences about temporary car insurance.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Easy Management',
        description:
          'Manage your temporary car insurance policy easily online, with straightforward terms and conditions.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Comprehensive Coverage',
        description: "Ensure you're fully covered with temporary car insurance that meets all your needs.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Quick Setup',
        description: 'Get your temporary car insurance set up quickly, allowing you to drive away with confidence.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more about Temporary Car Insurance in our Blog"
    information={`The blog is used to display insights on temporary car insurance.
                        Each new article will be an important step that you will need to know to be an expert in obtaining short-term insurance.
                        Temporary car insurance is a very useful option. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions about Temporary Car Insurance"
    subtitle="Dive into the following questions to gain insights into the powerful features that temporary car insurance offers and how it can elevate your driving experience."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is Temporary Car Insurance?',
        description:
          'Temporary car insurance provides coverage for a limited time, ideal for those needing short-term insurance.',
      },
      {
        title: 'How does 1 Day Insurance work?',
        description:
          '1 Day insurance allows you to cover your vehicle for just one day, perfect for short trips or borrowing a car.',
      },
      {
        title: 'What is Drive Away Insurance?',
        description:
          "Drive away insurance is designed for those who need immediate coverage to drive a vehicle away, ensuring you're protected from the start.",
      },
      {
        title: 'Who needs Test Driver Insurance?',
        description:
          'Test driver insurance is essential for anyone who needs to test drive a vehicle, providing the necessary coverage during the trial.',
      },
      {
        title: 'How do I apply for Short Term Insurance?',
        description:
          'Applying for short-term insurance is straightforward; simply provide your details and select the coverage you need.',
      },
      {
        title: 'What are the benefits of Temporary Car Insurance?',
        description:
          'Temporary car insurance offers flexibility, affordability, and peace of mind for short-term driving needs.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get your Temporary Car Insurance',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Temporary&nbsp;Car&nbsp;Insurance&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"
        >for Your Needs</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Don't miss out on the benefits of temporary car insurance. <br class="hidden md:inline" />Get started today!
    </Fragment>
  </CallToAction>
</Layout>
